codes/quests/10_trigger_GoogleDrives_docs.json
{
  "name": "10_trigger_GoogleDrives_docs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BypZvmA8q_QPYy5MxcSTjFedVb_L2DLO",
          "mode": "list",
          "cachedResultName": "n8n_triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BypZvmA8q_QPYy5MxcSTjFedVb_L2DLO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        144
      ],
      "id": "202ba4dc-0c92-44a7-b9ab-41a2cc71631b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rYdkuJPZHVJlY4iD",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb7b6153-1287-4404-97f4-2d67138a177c",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        144
      ],
      "id": "1a05deee-1533-486f-830d-7d3c1499bc55",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한 줄로 정리.\n\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        128
      ],
      "id": "ed944378-c521-4b97-9d45-184ce9d50ee5",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "u0KNzK2HMRfa50nM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1oFWCoBV8mIEaOil_Z2oUT-sjyNoJTCYLzm_inqx7yT0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025.10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFWCoBV8mIEaOil_Z2oUT-sjyNoJTCYLzm_inqx7yT0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        128
      ],
      "id": "90bbf4aa-2773-4be4-ad9a-88907f58f965",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E9T6HkpB2f232LwH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -784,
        128
      ],
      "id": "9be82f1d-2c05-4440-a9fe-4560d9598e7d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17nx04L4D1cCUBBsNiV0ZWU6bTy_GooHx",
          "mode": "list",
          "cachedResultName": "n8n_past",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17nx04L4D1cCUBBsNiV0ZWU6bTy_GooHx"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        128
      ],
      "id": "071f5d28-2e02-4fe3-9a40-de33d4cc84b5",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rYdkuJPZHVJlY4iD",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -976,
        128
      ],
      "id": "c07a0883-c200-4f3c-8ec2-c6830c61dabc",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "TW6CzLoz9IVcU0wq",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1BypZvmA8q_QPYy5MxcSTjFedVb_L2DLO",
          "mode": "list",
          "cachedResultName": "n8n_triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1BypZvmA8q_QPYy5MxcSTjFedVb_L2DLO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1376,
        304
      ],
      "id": "1201bb70-1ffd-4dae-b4ba-c520f345791e",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rYdkuJPZHVJlY4iD",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb7b6153-1287-4404-97f4-2d67138a177c",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1168,
        304
      ],
      "id": "467a9db6-8454-45bb-9f76-0537b307c03b",
      "name": "If1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한 줄로 정리.\n\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        288
      ],
      "id": "1ad0023a-fe37-445e-a01f-3614533dfa5c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "u0KNzK2HMRfa50nM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1oFWCoBV8mIEaOil_Z2oUT-sjyNoJTCYLzm_inqx7yT0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025.10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFWCoBV8mIEaOil_Z2oUT-sjyNoJTCYLzm_inqx7yT0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "입력 날짜": "={{ $('Google Drive Trigger1').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger1').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger1').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger1').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        288
      ],
      "id": "ab06a969-e7c0-4d35-8549-171a5140f52e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E9T6HkpB2f232LwH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -576,
        288
      ],
      "id": "2131c166-6ad1-4a2f-9f48-12dacf4ad6fe",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger1').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17nx04L4D1cCUBBsNiV0ZWU6bTy_GooHx",
          "mode": "list",
          "cachedResultName": "n8n_past",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17nx04L4D1cCUBBsNiV0ZWU6bTy_GooHx"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        288
      ],
      "id": "e479655c-3ad9-4221-b785-fc3b7bef7c30",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rYdkuJPZHVJlY4iD",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -768,
        288
      ],
      "id": "5d3f32a6-e236-4fa5-a4a7-7473cb540f9d",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "TW6CzLoz9IVcU0wq",
          "name": "Google Docs account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a1dae84-80f3-4f59-bf79-3e9408eee99a",
  "meta": {
    "instanceId": "2f85a62d00aef46770cec5e29f788e0259909a3a8348903cf02176033958dca2"
  },
  "id": "lWB3tqWxMy479OD8",
  "tags": []
}