codes/quests/14_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -176
      ],
      "id": "21021908-2845-429e-9f21-3eeb98b320e0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hOFGVbKw5si0v3TMxMgUYG9PeSZCta0lczhnh8cJRvk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hOFGVbKw5si0v3TMxMgUYG9PeSZCta0lczhnh8cJRvk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        176
      ],
      "id": "bcec8f8c-f347-4e9e-832f-ec7901e895c7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7EVCyefg93TgzaYa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['option gmail'] }}",
        "subject": "=테스트]  {{ $('Download file').item.json.name }}",
        "message": "={{ $('Loop Over Items').item.json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        176
      ],
      "id": "944c3f21-5aa7-496b-b92f-d3384c5cc588",
      "name": "Send a message",
      "webhookId": "808c1f8c-931d-44c1-8852-36bcf1d1f5f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "VQuvrjwRg1poXwhx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/folders/1Ebzgrxml6PZ03aqRDHekkyitKJWRUbom",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -176
      ],
      "id": "8ac19d32-2683-4723-b68a-c0ec33b81c64",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oEuIBAj6P1N59ClC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        -176
      ],
      "id": "3d6e2d25-cab0-4eea-b5c4-5b86921b0d08",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1YipMkR1mylKyvrYoiM-0V9L-7c-ol0Sj",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        176
      ],
      "id": "3da7bbcf-155b-456f-8ff3-4f6f1cf9553e",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oEuIBAj6P1N59ClC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        -176
      ],
      "id": "5d2a025f-c325-4d90-860d-d1ff9c5f6ea1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        -176
      ],
      "id": "7a2afb0d-6976-42c2-98c7-0254698ebcd3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oEuIBAj6P1N59ClC",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be0ddcf4-ba92-4c9a-9f4c-44f99b860ccb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e032e8146f61214a70abd797fbb668d6013be746b3ac3f498c12c56eccfc3624"
  },
  "id": "qnkjZ8syoNxwj9W8",
  "tags": []
}